<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

 <!-- Main Content -->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Kumail Doctor's Portfolio <%= title %> page</h1>
        <img class="unicorn" src="Assets/images/unicorn-76.gif">
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
