<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content  for the add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>

      <form class="form" method="post">
        <div class="from-group">
          <label for="nameTextField">Contact Title</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter the Contact Title:"
            name="name"
            value="<%= contact.name %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="authorTextField">Number</label>
          <input
            type="text"
            class="form-control"
            id="authorTextField"
            placeholder="Enter the Contact's Number:"
            name="number"
            value="<%= contact.number %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="publishedTextField">email</label>
          <input
            type="text"
            class="form-control"
            id="publishedTextField"
            placeholder="Enter the Year of Publication:"
            name="published"
            value="<%= contact.email %>"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/contact-list" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
