<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content  for the add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>

      <form class="form" method="post">
        <div class="from-group">
          <label for="nameTextField">Contact Title</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter the Contact Title:"
            name="name"
            value="<%= contact.name %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="authorTextField">Author</label>
          <input
            type="text"
            class="form-control"
            id="authorTextField"
            placeholder="Enter the Contact's Author:"
            name="author"
            value="<%= contact.author %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="publishedTextField">Year</label>
          <input
            type="text"
            class="form-control"
            id="publishedTextField"
            placeholder="Enter the Year of Publication:"
            name="published"
            value="<%= contact.published %>"
            required
          />
        </div>

        <div class="from-group">
          <label for="descTextField">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="descTextField"
            placeholder="Enter the Description of Contact:"
            name="description"
            required
          >
  <%=contact.description%></textarea
          >
        </div>

        <div class="from-group">
          <label for="priceTextField">Price</label>
          <input
            type="number"
            class="form-control"
            id="pricecTextField"
            placeholder="Enter the Price of Contact:"
            name="price"
            value="<%= contact.price %>"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/contact-list" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>
<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
